<div class="submenu submenu-horizontal invisible-1025 absolute gradient color-default">
  <ul class="subchildmenu list-unstyled px-30 px-1025-0">
    {% assign store_entries = shop.metaobjects.store.values %}
    {% for store in store_entries %}
      <li class="menu-link level-1">
        <menu-item class="relative static-1025 flex justify-between align-center border-bottom border-bottom-1025-0">
          <a class="menu_item-link no-underline py-10 py-1025-5 min-h-55 min-h-1025-unset inline-flex align-center"
             href="#" 
             data-store-id="{{ store.id }}" 
             data-store-select>
            <span class="reversed-links transition">{{ store.name }}</span>
          </a>
          <span class="store-address">{{ store.address }}</span>
          <span class="store-hours">{{ store.weekday_hours }}</span>
        </menu-item>
      </li>
    {% endfor %}
  </ul>
</div>