{% comment %} <div
  class="submenu submenu-horizontal invisible-1025 absolute left-0 gradient p-0 py-1025-40 overflow-x-hidden">
  <div class="menu-list px-30">
    <span>it workdfs sdf sdfs d sdfs df sdf sdfsd fsdf sd fs</span>
  </div>
</div> {% endcomment %}

<div class="submenu submenu-horizontal invisible-1025 absolute gradient color-default">
  <ul class="subchildmenu list-unstyled px-30 px-1025-0">

    <li class="menu-link level-1 " style="background-color:red">
      <menu-item 
      class="relative static-1025 flex justify-between align-center border-bottom border-bottom-1025-0"
      style="background-color:blue"
      >
        <a class="menu_item-link  no-underline py-10 py-1025-5 min-h-55 min-h-1025-unset inline-flex align-center"
          >
          <span class="reversed-links transition">Belize City</span>
        </a>
        <span>8 Baymen Avenue</span>
        <span>Ones until 5:30</span>
        </menu-item>
    </li>

    <li class="menu-link level-1 " style="background-color:red">
      <menu-item class="">
          <span>Belmopan Store</span>
          <span>City Garden Plaza</span>
          <span>Ones until 5:30</span>
        </menu-item>
    </li>

    <li class="menu-link level-1 ">
      <menu-item class="relative static-1025 flex justify-between align-center border-bottom border-bottom-1025-0">
        <a class="menu_item-link   no-underline py-10 py-1025-5 min-h-55 min-h-1025-unset inline-flex align-center"
          href="#">
          <span class="reversed-links transition">Orange Walk</span>
        </a></menu-item>

    </li>

    <li class="menu-link level-1 ">
      <menu-item class="relative static-1025 flex justify-between align-center border-bottom border-bottom-1025-0">
        <a class="menu_item-link   no-underline py-10 py-1025-5 min-h-55 min-h-1025-unset inline-flex align-center"
          href="#">
          <span class="reversed-links transition">San Ignacio</span>
        </a></menu-item>

    </li>

    <li class="menu-link level-1 ">
      <menu-item class="relative static-1025 flex justify-between align-center border-bottom border-bottom-1025-0">
        <a class="menu_item-link   no-underline py-10 py-1025-5 min-h-55 min-h-1025-unset inline-flex align-center"
          href="">
          <span class="reversed-links transition">San Pedro</span>
        </a></menu-item>
    </li>

  </ul>
</div>
