<div class="hidden block-1025">
  <a
    id="store-selector-bubble"
    href="#"
    class="no-underline header-icon header-color w-44 h-44 inline-flex content-center store-selector-toggle"
  >
    <div class="relative lh-1 fs-0">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64" width="32" height="32" stroke-width="3.5" stroke="currentColor"
        fill="none">
        <use href="#icon-store-header" /></svg>
    </div>

    <!-- Choose your store section -->
    <span class="text-icons d-inline-flex fs-11 fw-500 ml-15 text-left d-none-mb">
      <span class="text-icons-top fs-14 w-store-selector">{{ 'store_selector.choose_store_1' | t }}</span>
      <span class="text-icons-top fs-14 w-store-selector">{{ 'store_selector.choose_store_2' | t }}</span>
    </span>
    <!-- Drop down icon -->
    <svg class="mx-5" width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1 1L5 5L9 1" stroke="currentColor" stroke-width="1.5"/>
    </svg>
  </a>
</div>

